h4 small
{
    display: block;
    font-size: 60%;
    color: #888;
}

.social ul li {
    display: inline-block;
    text-align: center;
}

.mainContent, footer.container {
    max-width: 900px;
}

footer.container {
    margin-top: 30px;
    padding: 30px 0;
    border-top: 1px dashed #aaa;
    text-align: center;
}

footer.container ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

/*footer.container .social ul li {
    margin: 0 .25em;
}*/

@media (max-width: 767px) {
    .sidebar {
        padding-top: 30px;
    }
}
@media (min-width: 980px) {
    body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
        padding-bottom: 40px;
    }
}
